.nav .navbar-nav .navbar-right>li>a {
    text-transform: uppercase;
    letter-spacing: .05em;
    font-weight: 700;
    font-size: .75em;
}

.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;

}
.nav>li>a {
    color: #455f6c;
}