<!DOCTYPE html>
<html lang="en" class=" -webkit-">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Sestoji Planeta UAB</title>
  <link href="/static/js/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  <link href="/static/css/responsiveslides.css" rel="stylesheet">
</head>

<body class="scrolled scrolledmore">
{#    <!-- Mobile top bar -->#}
{#    <div class="mobile-bar">#}
{#       <div class="logobox">#}
{#           <a href="">#}
{#               <img class="logo" src="/static/img/logo-greenback-mobile.png" alt="Greenback">#}
{#           </a>#}
{#       </div>#}
{#       <div class="mobile-menu">#}
{#         <button type="button" class="navbar-toggle btn-mobilemenu">#}
{#           <span class="sr-only">Toggle navigation</span>#}
{#           <span class="title">MENU</span>#}
{#           <span class="bars">#}
{#             <span class="icon-bar icon-bar1"></span>#}
{#             <span class="icon-bar icon-bar2"></span>#}
{#             <span class="icon-bar icon-bar3"></span>#}
{#           </span>#}
{#         </button>#}
{#       </div>#}
{#    </div>#}
{#    <div class="overlay"></div>#}

    <header class="header">
        <nav class="navbar navbar-default">
         <div class="container-fluid">
           <!-- Brand and toggle get grouped for better mobile display -->
           <div class="navbar-header">
             <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mobile-side" aria-expanded="false">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
             </button>
             <a href="#" class="btn-closemenu"><i class="icon-x"></i></a>
             <a class="navbar-brand" href="/">
                 <img style="width: 160px;height: 52px;display: inline-block;" src="/static/img/logo-greenback.png" alt="Greenback">
                 <!--<span class="tagline">Beyond Credit Card Statements</span>-->
             </a>
           </div>

           <!-- Collect the nav links, forms, and other content for toggling -->
           <div class="collapse navbar-collapse" id="mobile-side">
             <ul class="nav navbar-nav navbar-right">
               <li><a href="">Features</a></li>
               <li><a href="">Integrations</a></li>
               <li><a href="">Security</a></li>
               <li><a href="">About</a></li>
               <li><a href="">Contact</a></li>
               <li class="sec"><a href="" class="btn btn-head-signin">Sign In</a></li>
               <li class="sec"><a href="" class="btn btn-head-signup">Sign Up</a></li>
             </ul>

{#             <ul class="list-unstyled list-mobilebtns">#}
{#               <li><a href="" class="btn btn-outline btn-head-signin">Sign In</a></li>#}
{#               <li><a href="" class="btn btn-primary btn-head-signup">Sign Up</a></li>#}
{#             </ul>#}
           </div><!-- /.navbar-collapse -->
         </div><!-- /.container-fluid -->
       </nav>
    </header>

    {% block content %}{% endblock %}
    <div style="margin-top: 500px; margin-bottom: 100px;">
        aaaaaaa
    </div>

    <footer class="footer" style="margin-bottom: 30px;">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <div class="foot-logo">
              <img style="max-width: 130px; height: auto;" src="/static/img/logo-greenback-grey-full.png" alt="Greenback">
            </div>
          </div>
          <div class="col-sm-5" style="align-content: center;">
            <ul class="list-inline list-menu">
              <li><a href="">About</a></li>
              <li><a href="">Contact</a></li>
              <li><a href="">Security</a></li>
              <li><a href="">Terms</a></li>
              <li><a href="">Privacy</a></li>
            </ul>
          </div>
          <div class="col-sm-4">
            <ul class="list-inline list-soc">
              <li><a href="https://twitter.com"><i class="icon-twitter"></i></a></li>
              <li><a href="https://github.com/"><i class="icon-github"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/static/js/holder.min.js"></script>
  <script src="/static/js/parallax.min.js"></script>
  <script src="/static/js/jquery.easing.min.js"></script>
  <script src="/static/js/jquery.easy-ticker.min.js"></script>
  <script src="/static/js/responsiveslides.min.js"></script>
</body>
</html>