
<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <!--<link rel="icon" href="http://getbootstrap.com/favicon.ico">-->

  <title>Sestoji Planeta UAB</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/js/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  <link href="/static/css/responsiveslides.css" rel="stylesheet">
  <link href="/static/css/custom.css" rel="stylesheet">

</head>

<body>
  <div class="slidderBanner">
    <img src="/static/img/cando2.png">
  </div>
  <nav class="navbar navbar-fixed-top">
    <div class="container" style="margin-top: 10px;">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">Menu
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
        <a href="index.html"><img class="navbar-brand" src="/static/img/logo.png"></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
        <ul class="nav navbar-nav">
          <li class="active"><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="service.html">Service</a></li>
          <li><a href="cando.html">CanDo</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="faq.html">FAQ</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="row slider">
    <ul class="rslides" id="slider">
      <li>
        <img src="/static/img/b-3.jpg" id="image1" alt="">

      </li>
      <li>
        <img src="/static/img/b-2.jpg" id="image2" alt="">

      </li>
      <li>
        <img src="/static/img/b-1.jpg" id="image3" alt="">

      </li>
    </ul>
  </div>
{#  <div class="row slider">#}
{#    <ul class="rslides" id="sliderMini">#}
{#      <li>#}
{#        <img src="/static/img/3-3.jpg" alt="">#}
{##}
{#      </li>#}
{#      <li>#}
{#        <img src="/static/img/2-2.jpg" alt="">#}
{##}
{#      </li>#}
{#      <li>#}
{#        <img src="/static/img/1-1.jpg" alt="">#}
{##}
{#      </li>#}
{#    </ul>#}
{#  </div>#}


  <div class="container">

    <div class="row serviceSection">
      <div class="col-sm-3 homePageIconDiv rightBorder">
        <div class="homePageIcon">
          <img src="/static/img/icon3.png" alt="Generic placeholder image">
        </div>
        <h1 class="text_center">Ease-Of-Use</h1>
        <p class="text_center">An extremely easy-to-use platform, it can help you in getting the best solutions to your problem with just a click
          of a button.</p>
      </div>

      <div class=" col-sm-3 homePageIconDiv rightBorder">
        <div class="homePageIcon">
          <img src="/static/img/icon2.png" alt="Generic placeholder image">
        </div>
        <h1 class="text_center">Fast and Secure</h1>
        <p class="text_center">Our servers are fast in providing you with deliberately accurate results and make sure to keep your private information
          safe
        </p>
      </div>

      <div class="col-sm-3 homePageIconDiv rightBorder">
        <div class="homePageIcon">
          <img src="/static/img/icon1.png" alt="Generic placeholder image">
        </div>
        <h1 class="text_center">Fun and Interactive</h1>
        <p class="text_center">Our platform is not only easy when it comes to the layout and design, it is also extremely interactive and fun</p>
      </div>

      <div class="col-sm-3 homePageIconDiv">
        <div class="homePageIcon">
          <img src="/static/img/icon4.png" alt="Generic placeholder image" style="margin-top: 34px;">
        </div>
        <h1 class="text_center">One-To-One</h1>
        <p class="text_center">Take orders from people who are in need of your talent / Look for a certain set of skills or the right person to
          do the job</p>
      </div>
    </div>

  </div>
  <!-- START THE FEATURETTES -->
  <div class="parallax-window" data-parallax="scroll" data-image-src="/static/img/Layer-1.jpg">
    <div class="row rowContet">
      <div class="col-sm-1"></div>
      <div class="col-sm-5">
        <div style="min-height:450px">
          <img class="phoneImage" src="/static/img/phone.png">
        </div>
      </div>

      <div class="col-sm-5" style="margin-top:70px;margin-bottom:70px">
        <div class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object" src="/static/img/ican.png">
            </a>
          </div>
          <div class="media-body">
            <h3 class="media-heading">Your Skills</h3>
            If you are a person, with a certain set of skills and you are looking for an opportunity to implement these skills practically,
            we will let you take orders from people who are in need of your talent
          </div>
        </div>
        <div class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object" src="/static/img/whocan.png">
            </a>
          </div>
          <div class="media-body">
            <h3 class="media-heading">Others' Skills</h3>
            If you are someone looking for a certain set of skills or the right person to do the job for you, we can help you give direct
            orders, and make your life easier.
          </div>
        </div>
        <div class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object" src="/static/img/wherecan.png">
            </a>
          </div>
          <div class="media-body">
            <h3 class="media-heading">Range of use</h3>
            No matter which country or region you decide to use our services from. You can solve an issue with a blink of an eye, and
            make your life easier by using our customer-oriented services.
          </div>
        </div>
      </div>
      <div class="col-sm-1"></div>
    </div>

  </div>

  <div style="min-height:400px;">
    <div class="row rowContet" style="padding-top: 5px;">
      <div class="col-sm-6 col-sm-offset-1">
        <div class="newsSlidder demof">
          <ul>
            <li><img src="http://zdnet1.cbsistatic.com/hub/i/r/2016/06/24/129e6d93-085f-440b-bf99-cd367653c07b/thumbnail/170x128/6d6a15a660c033439ee3b867eba4b1a3/photography.jpg"
                alt="Expandable Input" /><a href="http://www.zdnet.com/article/getty-images-to-use-vr-cameras-for-rio-olympics/">VR cameras for Rio</a>
              <p>Getty Images to use VR cameras for Rio Olympics</p>
            </li>
            <li class="odd"><img src="http://zdnet2.cbsistatic.com/hub/i/r/2016/06/24/b9481d8a-0133-4794-bd83-e45780e1f646/thumbnail/170x128/df25c1e3f4a715f78acd175296475940/drone-inspection.jpg"
                alt="jQuery Photor Plugin" /><a href="http://www.zdnet.com/article/industry-grumbling-about-the-faas-recent-ruling-on-drones/"> FAA's recent ruling</a>
              <p>Industry grumbling about the FAA's recent ruling on drones </p>
            </li>
            <li><img src="http://tpr1.cbsistatic.com/hub/i/r/2016/06/24/9afdf3b8-d1e4-4b7c-83af-028cabfb585d/thumbnail/220x165/f402b4d109c58b86e2d59208033a4936/vladimirtimofeevistock88379909small.jpg"
                alt="Metreaux Tables" /><a href="http://www.techproresearch.com/article/how-to-assess-the-effectiveness-of-virtual-technology-investments/">virtual technology investments</a>
              <p>How to assess the effectiveness of virtual technology investments</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <h2 style="margin-bottom:15px">About</h2>

        <div class="panel-group" id="accordion">
          <div class="panel">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
              <h4 class="panel-title accordion-toggle">
                Who are we ?
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
              <div class="panel-body">We are basically a modern business solutions provider, creating an opportunity to live a better life for every
                other person out there.
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
              <h4 class="panel-title accordion-toggle">
                What do we do ?
              </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
              <div class="panel-body">At 6th Planeta, we believe that the biggest opportunity anyone can get does what they love, and as an incentive,
                follow it as their professional career.
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
              <h4 class="panel-title accordion-toggle">
                Why do we do it ?
              </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
              <div class="panel-body">We do this because we know how good it feels to help others, and how brilliant it is to turn this help into
                a chain.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div style="min-height:400px;background:#15202d;">
    <div class="container">
      <div class="row serviceSection">
        <div class="col-sm-4 ">
          <img src="/static/img/logo2.png " style="width: 170px;margin-left: 15px;opacity:0.65; ">
          <div class="aboutCompany ">
            <span class="glyphicon glyphicon-map-marker "></span>
            <p>Antakalnio str. 17, LT-10312 Vilnius</p>
          </div>
          <div class="aboutCompany ">
            <span class="glyphicon glyphicon-earphone "></span>
            <p>Phone: +370 5 2141820</p>
          </div>
          <div class="aboutCompany ">
            <span class="glyphicon glyphicon-envelope "></span>
            <p>E-mail: Info@6thplaneta.com</p>
          </div>
        </div>
        <div class="col-sm-4">
          <h4 style="color: #8c8c8c;margin-left: 14px;">Connect</h4>
          <div class="usefulLink">
            <span class="glyphicon glyphicon-menu-right"></span>
            <a href="https://www.facebook.com/CandoApp/">Facebook</a>
          </div>
          <div class="usefulLink">
            <span class="glyphicon glyphicon-menu-right"></span>
            <a href="https://twitter.com/cando_app">Twitter</a>
          </div>
          <div class="usefulLink">
            <span class="glyphicon glyphicon-menu-right"></span>
            <a href="https://in.pinterest.com/candoapp/">Pinterest</a>
          </div>
          <div class="usefulLink">
            <span class="glyphicon glyphicon-menu-right"></span>
            <a href="https://plus.google.com/b/105818673057647190033/105818673057647190033">Google+</a>
          </div>
          <div class="usefulLink">
            <span class="glyphicon glyphicon-menu-right"></span>
            <a href="https://www.instagram.com/6planetcando/">Instagram</a>
          </div>
        </div>
        <div class="col-sm-4 gallery">
          <h4>Gallery</h4>
          <video width="100%" controls poster="/static/img/film.jpg">
            <source src="asset/cando.mp4" type="video/mp4"> Your browser does not support HTML5 video.
          </video>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="container">
      <label>Copyright © 2016 6thPlanetha · All Right Reserved</label>
    </div>
  </footer>

  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/static/js/holder.min.js"></script>
  <script src="/static/js/parallax.min.js"></script>
  <script src="/static/js/jquery.easing.min.js"></script>
  <script src="/static/js/jquery.easy-ticker.min.js"></script>
  <script src="/static/js/responsiveslides.min.js"></script>

  <script>
        function scroll_style() {
          var window_top = $(window).scrollTop();
          //var sliderSize =  $(".slider").height()
          if(window_top > 2){
            $(".navbar").addClass("change");
            $(".navbar-brand").attr("src", "/static/img/logo.png");
          }else{
             $(".navbar").removeClass( "change" );
             $(".navbar-brand").attr("src", "/static/img/logo2.png");
          }
        }
        function fitBanner(){
          var windowWidth =  $(window).width()
          var sliderSize = 0
           if(windowWidth<970){
              sliderSize =  $("#sliderMini").height()
           }
           else{
             sliderSize =  $("#slider").height()
           }
         $('.slidderBanner').css("margin-top", sliderSize - 65);
        }
      $(function(){

        $(window).scroll(scroll_style);
         scroll_style();
        $(window).resize(fitBanner);

        var windowWidth =  $(window).width()
        if(windowWidth<970){
          $('#slider').remove()
          $('#sliderMini').responsiveSlides({
          auto: true,
          pager: false,
          nav: false,
          speed: 500,
          namespace: "callbacks",
          before: function () {
          },
          after: function () {
          }
        });
        }else{
           $('#sliderMini').remove()
           $('#slider').responsiveSlides({
          auto: true,
          pager: false,
          nav: false,
          speed: 500,
          namespace: "callbacks",
          before: function () {
          },
          after: function () {
          }
        });
        }

        $('.newsSlidder').easyTicker({
          direction: 'up',
          easing: 'swing',
          visible: 3
        });
         fitBanner();
        $.get("http://query.yahooapis.com/v1/public/yql?q=select%20title%20from%20rss%20where%20url%3D%22http%3A%2F%2Fwww.zdnet.com%2Fnews%2Frss.xml%22&format=json&callback=cbfunc", function(data) {
            console.log(data);
            debugger;
            var $xml = $(data);
            $xml.find("item").each(function() {
                var $this = $(this),
                    item = {
                        title: $this.find("title").text(),
                        link: $this.find("link").text(),
                        description: $this.find("description").text(),
                        pubDate: $this.find("pubDate").text(),
                        author: $this.find("author").text()
                }
                //Do something with item here...
            });
        });
        var xxx = "http://query.yahooapis.com/v1/public/yql?q=select%20title%20from%20rss%20where%20url%3D%22http%3A%2F%2Fwww.zdnet.com%2Fnews%2Frss.xml%22&format=json&callback=cbfunc"
       $.getJSON( xxx, function( data ) {
         debugger;
          console.log(data)
       });


    });
	</script>
</body>

</html>